[modules]
[[init]]
module = init.py
public = False
description = ""
[[install_siege]]
module = install_siege.py
public = False
description = None
[[start]]
module = start.py
public = False
description = None
schedule = "* */3 * *"
[settings]
[[URLS2]]
public = True
value = https://tumbo.io/static/new_index.html|https://tumbo.io/|https://httptest.sahli.net/test/?testid=IIRLXHIM2Y1081MYNMCM&version=1
[[URLS]]
public = False
value = ""
[[PACKAGES]]
public = True
value = siege
